/*==================  Indice  ==================*/
/*
* 1. Colores
* 2. Iconos Consolas
* 3. Configuración Inicial
*/
@import url('https://fonts.cdnfonts.com/css/mark-pro');
* {
    font-family: 'Mark Pro';
}
/*==================  1. Colores  ==================*/
:root {
    --xbox-color: #107C10;
    --play-color: #003087;
}

.xbox {
    color: var(--xbox-color);
}

.play {
    color: var(--play-color);
}

/*==================  3. Configuración Inicial  ==================*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*==================  4. Navbar  ==================*/
/* nav {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #0f0e17;
    border-bottom: 5px solid #f25f4c;
    z-index: 10;
}

nav img {
    margin-left: 10px;
} */
header *{
    z-index: 10;
}
#navigation {
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: rgb(27, 27, 27);
    height: 70px;
    grid-row: 1/2;
    grid-column: 1/4;
}
#branding {
    display: flex;
    justify-content: center;
}
#branding * {
    position: fixed;
    z-index: 11;
    top: 5px;
}
#branding img {
    position: fixed;
    margin-top: -6vh;
}
h1 {
    top: 0;
    font-size: 50px;
    text-align: center;
    width: 80%;
    /* margin-left: 1vw; */
    display: none;
    color: white;
}
@media screen and (min-width: 600px) {
    h1 {
        display: block;
    }
    #branding img {
        display: none;
    }
}
.logo {
    display: flex;
    justify-content: center;
}
#btnMenu {
    cursor: pointer;
    width: 30px;
    margin-bottom: 10px;
}

#btnMenu img {
    width: 30px;
}

#menu {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    transition: top .5s;
    z-index: 12 !important;
}

#menu nav {
    position: absolute;
    z-index: 12 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu nav ul {
    list-style: none;
    display: block;
}

#menu nav ul li {
    margin-top: 0;
    margin-top: 100px;
    opacity: 0;
    transition: margin-top .8s, opacity .8s;
    font-weight: bold;
}

#menu nav ul li a {
    font-size: 2.5em;
    text-decoration: none;
    opacity: .3;
    transition: opacity .5s;
}
#play {
    color: #003791;
}
#xbox {
    color: #117d10;
}
#nintendo {
    color: #e60012;
}
#pc {
    color: white;
}
#menu nav ul li a:hover {
    opacity: 1;
}

#background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    filter: blur(7px);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: none;
    animation-name: backgroundImageAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#close {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

#close img {
    width: 30px;
}

#menu.open {
    top: 0;
}

#menu.open nav ul li {
    margin-top: 0;
    opacity: 1;
}

@keyframes backgroundImageAnimation {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

@media screen and (min-width: 600px) {
    #menu nav ul {
        margin-top: 2em;
    }
    #menu nav ul li a {
        font-size: 5em;
    }
}

/*==================  5. Main  ==================*/
.pageContainer {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 70px 50px;
    background-color: #0f0e17;
    z-index: 0;
}
body {
    background-color: #242629;
}
/*==================  6. Videojuegos destacados  ==================*/
/* "Animaciones" */
@-webkit-keyframes slide {

    0%,
    50% {
        opacity: 0;
        display: block !important;
    }

    100% {
        opacity: 1;
        display: block !important;
    }
}

@keyframes slide {

    0%,
    50% {
        opacity: 0;
        display: block !important;
    }

    100% {
        opacity: 1;
        display: block !important;
    }
}

@-webkit-keyframes diespin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes diespin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.videoJuegosDestacados {
    display: flex;
    margin: 5vh auto 0;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 200px;
    white-space: initial;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
}
/* Mobile */

.videoJuegoCarrusel:nth-child(5) {
    display: none;
}
.videoJuegoCarrusel:nth-child(4) {
    display: none;
}
.videoJuegoCarrusel:nth-child(3) {
    display: none;
}
.videoJuegoCarrusel:nth-child(2) {
    display: none;
}

/* Tablet */

/* PC */
@media screen and (min-width: 600px) {
    .videoJuegoCarrusel:nth-child(2) {
        display: flex;
    }
    .videoJuegoCarrusel:nth-child(3) {
        display: flex;
    }
    .videoJuegosDestacados .main br{
        display: none; 
    }
    .videoJuegosDestacados {
        min-width: 400px;
    }
}

@media screen and (min-width: 1100px) {
    .videoJuegoCarrusel:nth-child(5) {
        display: flex;
    }
    .videoJuegoCarrusel:nth-child(4) {
        display: flex;
    }
    .videoJuegoCarrusel:nth-child(3) {
        display: flex;
    }
}
/* 
@media screen and (max-width: 558px) {
    

}

@media screen and (max-width: 478px) {
    .videoJuegosDestacados {
        min-width: 280px;
    }

    .videoJuegosDestacados .videoJuegoCarrusel:nth-child(2) {
        display: none;
    }
} */

.videoJuegosDestacados .videoJuegoCarrusel {
    position: relative;
    overflow: inherit;
    min-width: 60px;
    margin: .5vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.videoJuegosDestacados .videoJuegoCarrusel.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 20px;
    background-size: auto 100%;
}

.videoJuegosDestacados .videoJuegoCarrusel.active .sombra {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

.videoJuegosDestacados .videoJuegoCarrusel.active .label {
    bottom: 20px;
    left: 20px;
}

.videoJuegosDestacados .videoJuegoCarrusel.active .label .info>div {
    left: 0px;
    opacity: 1;
}

.videoJuegosDestacados .videoJuegoCarrusel:not(.active) {
    flex-grow: 1;
    border-radius: 20px;
}

.videoJuegosDestacados .videoJuegoCarrusel:not(.active) .sombra {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

.videoJuegosDestacados .videoJuegoCarrusel:not(.active) .label {
    bottom: 10px;
    left: 10px;
}

.videoJuegosDestacados .videoJuegoCarrusel:not(.active) .label .info>div {
    left: 20px;
    opacity: 0;
}

.videoJuegosDestacados .videoJuegoCarrusel .sombra {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.videoJuegosDestacados .videoJuegoCarrusel .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.videoJuegosDestacados .videoJuegoCarrusel .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
}

.videoJuegosDestacados .videoJuegoCarrusel .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
}

.videoJuegosDestacados .videoJuegoCarrusel .label .info>div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.videoJuegosDestacados .videoJuegoCarrusel .label .info .main {
    font-weight: bold;
    font-size: 1.2rem;
}


.videoJuegosDestacados .videoJuegoCarrusel .label .info .sub {
    transition-delay: 0.1s;
    font-weight: light;
}

/* Imagenes */
.carrusel1 {
    background-image: url(https://placekitten.com/1040/480);
}

.carrusel2 {
    background-image: url(https://placekitten.com/1040/480);
}

.carrusel3 {
    background-image: url(https://placekitten.com/1040/480);
}

.carrusel4 {
    background-image: url(https://placekitten.com/1040/480);
}

.carrusel5 {
    background-image: url(https://placekitten.com/1040/480);
}
















/* */
.videojuegos {
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    margin-top: 50px;
}

.videojuegos div {
    display: block;
    margin: 0px auto;
}

picture {
    text-align: center;
    width: 250px;
}
.videojuegos div picture img {
    width: 80vw;
    height: 50vw;
}

@media screen and (min-width: 600px) {
    .videojuegos {
        grid-template-columns: 150px 150px 150px;
        gap: 5vw;
    }
    .videojuegos div picture img {
        width: 150px;
        height: 200px;
    }
}

@media screen and (min-width: 1100px) {
    .videojuegos {
        grid-template-columns: 150px 150px 150px 150px 150px;
        gap: 50px;
    }
}

.videojuegos div img, .videojuegos div a ~ .plataformas{
    border-radius: 10px;
    transition: transform .3s ease-out;
}

.videojuegos div img:hover, .videojuegos div a:hover ~ .plataformas {
    transform: translate(0, -5px);
    
}
a {
    text-decoration: none;
    color: white;
}

.videojuegos .detalles {
    position: relative;
    top: -10px;
    margin: 0;
}

.videojuegos .titulo {
    font-weight: bold;
    margin: 0;
}

.videojuegos .company {
    margin: 0;
    font-weight: lighter;
}

.videojuegos .plataformas {
    position: relative;
    top: -40px;
    left: 10px;
}

.plataformas * {
    background-color: rgba(0, 0, 0, 0.534);
    padding: 2px;
    border-radius: 10px;
}
/*
    Mobile: max-width: 425px
    Tablet/Laptop: max-width: 1100px
    Computer: min-width: 1024px
*/



/* Footer */
footer {
    background-color: #181818;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

.redes {
    margin-bottom: 20px;
}

.redes a {
    margin: 0 10px;
    transition: .4s;
}
.instagram:hover {
    color: #fc136b;
}
.youtube:hover {
    color: #e90101;
}
.twitter:hover {
    color: #00a7e7;
}

/* Videojuegos */